._mainContainer {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/3.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

/* -------------------------------------------------------------------------- */
._mainContainer ._Container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #ffffff69;
    width: 90%;
    height: 97vh;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

._mainContainer ._Container ._FormContainer {
    width: 50%;
    padding: 2rem;
}

._mainContainer ._Container ._FormContainer ._Title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-black);
    line-height: 2.5rem;
    margin-bottom: 20px;
}

._mainContainer ._Container ._image {
    position: relative;
    width: 50%;
    height: 100%;
}

._mainContainer ._Container ._image ._Ima {
    width: fit-content;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    animation: floatUpDown 2s ease-in-out infinite;
    -webkit-animation: floatUpDown 2s ease-in-out infinite;
}

._mainContainer ._Container ._image ._Ima img {
    width: 20rem;
    height: 20rem;
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

._mainContainer ._Container ._image ._Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    padding: 0px 2rem;
}

._mainContainer ._Container ._image ._Title h3 {
    width: 90%;
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--White-color);
    line-height: 2rem;
}

._mainContainer ._Container ._image ._Title p {
    width: 90%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-light-Gray);
    line-height: 1.4rem;
}

._mainContainer ._Container ._image ._Title p span {
    font-family: 1.1rem;
    color: var(--color-black);
}

._mainContainer ._Container ._FormContainer {
    height: 100%;

}

._mainContainer ._Container ._FormContainer ._Form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


._mainContainer ._Container ._FormContainer ._Form ._inputField {
    position: relative;
    width: 100%;
}

._mainContainer ._Container ._FormContainer ._Form ._Link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    position: relative;
    width: 100%;
    padding: 0.5rem;
}

._mainContainer ._Container ._FormContainer ._Form ._Link a {
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--Main-Color);
    text-decoration: none;
    line-height: 1.3rem;
}

._mainContainer ._Container ._FormContainer ._Form ._inputField input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 0.5rem;
}

._mainContainer ._Container ._FormContainer ._Form ._inputField input:focus {
    border-color: #4070f4;
}

._mainContainer ._Container ._FormContainer ._Form ._inputField .show-hide {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #777;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

._mainContainer ._Container ._FormContainer ._Form ._error {
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: left;
    margin: 2.5px 0px;
    font-size: 13px;
    color: #d93025;
    align-items: center;
}

input.input-error {
    border: 1px solid #d93025 !important;
}

.error-iconBlur {
    display: none !important;
}


.error-icon {
    margin-right: 6px;
    padding: 0.2rem 0rem;
}

._btn {
    width: 100%;
    height: 50px;
    background-color: var(--color-Buttons);
    color: var(--color-white);
    font-size: 1.1rem !important;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.1s ease !important;
    -webkit-transition: all 0.1s ease !important;
    -moz-transition: all 0.1s ease !important;
    -ms-transition: all 0.1s ease !important;
    -o-transition: all 0.1s ease !important;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    border: 1px solid var(--color-Buttons) !important;
}

._btn:hover {
    background-color: transparent;
    color: var(--color-black);
}

._mainContainer ._Container ._FormContainer ._Form ._checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}

._mainContainer ._Container ._FormContainer ._Form ._checkbox span {
    width: fit-content;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: capitalize;
}

._Form ._footerCopyRight {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

._Form ._footerCopyRight ._text {
    text-align: center;
    width: 98%;
    padding: 0.5rem;
    color: var(--color-black);
    border-top: 1px solid var(--color-light-Gray);
    font-size: 0.8rem;
}

._btn:disabled,
._btn.disabled {
    background-color: var(--color-Buttons-disabled);
    cursor: not-allowed;
    border: 1px solid var(--color-Buttons-disabled) !important;

}

.Iconsss {
    margin: 0 auto;
    color: var(--color-Buttons);
}

@media (min-width: 0px) and (max-width: 764px) {
    ._mainContainer {
        width: 100%;
        height: 100%;
        padding: 3rem 0rem;
        padding-top: 7rem;
    }

    ._mainContainer ._Container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 95%;
        padding: 1rem 0rem;

    }

    ._mainContainer ._Container ._image {
        position: relative;
        width: 100%;
        height: 30vh;
    }

    ._mainContainer ._Container ._image ._Title {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        padding: 0px 0.5rem;
    }

    ._mainContainer ._Container ._image ._Title h3 {
        width: 100%;
        font-size: 1.7rem;
    }

    ._mainContainer ._Container ._image ._Title p {
        width: 100%;
        font-size: 0.9rem;
        line-height: 1rem;
    }

    ._mainContainer ._Container ._image ._Title p span {
        font-family: 0.9rem;
    }

    ._mainContainer ._Container ._image ._Ima {
        right: 0.5rem;
        bottom: -2rem;
    }

    ._mainContainer ._Container ._image ._Ima img {
        width: 5rem;
        height: 5rem;
    }

    ._mainContainer ._Container ._FormContainer ._Form {
        padding: 0px 0.5rem;

    }

    /* ._mainContainer ._Container ._FormContainer ._Form ._inputField input {
        background-color: transparent;
    } */

    ._mainContainer {
        background-position: 100%;
    }

    ._mainContainer ._Container ._FormContainer {
        width: 100%;
        padding: 0rem;
    }
}

@media (min-width: 765px) and (max-width: 1100px) {
    ._mainContainer ._Container {
        width: 95%;
    }

    ._mainContainer ._Container ._FormContainer {
        width: 60%;
        padding: 1rem;
    }

    ._mainContainer ._Container ._image {
        position: relative;
        width: 50%;
    }

    ._mainContainer ._Container ._image ._Title {
        width: 100%;
    }

    ._mainContainer ._Container ._image ._Title h3 {
        width: 100%;
        font-size: 2rem;
    }

    ._mainContainer ._Container ._image ._Title p {
        width: 100%;
        font-size: 1rem;
        line-height: 1.4rem;
    }

    ._mainContainer ._Container ._image ._Ima {
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: 0 auto;
    }

    ._mainContainer ._Container ._image ._Ima img {
        width: 15rem;
        height: 15rem;
    }

    ._Form ._footerCopyRight {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}