._ContainerDisplayInfo {
    width: 100%;
    padding: 1rem;
}

._ContainerDisplayInfo ._FormContainer {
    width: 100%;
    padding: 2rem 0rem;
}

._ContainerDisplayInfo ._FormContainer ._Form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

._ContainerDisplayInfo ._FormContainer ._Form ._field {
    width: calc(100% /2 - 2rem);
    margin-bottom: 1rem;
}

._Form ._Address>* {
    width: 100%;
}

._ContainerDisplayInfo ._FormContainer ._Form ._inputField {
    position: relative;
    width: 100%;
}

._ContainerDisplayInfo ._FormContainer ._Form ._inputField ._label,
._Form ._Address label {
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    padding: 0rem 0.4rem;
    display: block;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

._ContainerDisplayInfo ._FormContainer ._Form ._inputField input,
._Form ._Address ._inputFieldA input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border: 1px solid var(--color-light-Gray);
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background-color: var(--color-light-green-in);
}

._Form ._Address ._inputFieldA input {
    margin-bottom: 1rem;
}

._ContainerDisplayInfo ._FormContainer ._Form ._inputField input:focus,
._Form ._Address ._inputFieldA input:focus {
    border-color: #4070f4;
}

._ContainerDisplayInfo ._FormContainer ._Form ._inputField .show-hide {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #777;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

input.input-error {
    border: 1px solid #d93025 !important;
}

._error {
    color: #d93025;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 4px;
}

.error-icon {
    font-size: 1.2rem;
}

._ContainerDisplayInfo ._FormContainer ._Form ._button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0rem;
    gap: 0.5rem;
}

._ContainerDisplayInfo ._FormContainer ._Form ._button ._btn {
    width: 100%;
    height: 50px;
    background-color: var(--color-Buttons);
    color: var(--color-white);
    font-size: 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    border: 1px solid var(--color-green);
}

._ContainerDisplayInfo ._FormContainer ._Form ._button ._btn:hover,
._Form ._Address button:hover {
    border: 1px solid var(--color-black) !important;
    background-color: transparent !important;
    color: var(--color-black) !important;
}

._Form input[readonly] {
    background-color: #f3f3f3;
}

@media (min-width: 0px) and (max-width: 700px) {
    ._ContainerDisplayInfo ._FormContainer ._Form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ._ContainerDisplayInfo ._FormContainer ._Form ._field {
        width: 100%;
    }

    ._ContainerDisplayInfo ._FormContainer {
        width: 100%;
        padding: 0rem;
    }
}